---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import PostList from "../components/PostList.astro";
import { descendingByDateWithFallback } from "../utils/sortPosts";

const allPosts = (await getCollection("posts")).sort(
  descendingByDateWithFallback
);

const pageTitle = "Daniel Prol Blog";
const pageSubtitle = "Posts about programming, education and more";
---

<BaseLayout pageTitle={pageTitle} pageSubtitle={pageSubtitle}>
  <h1>Posts</h1>
  <PostList posts={allPosts} />
</BaseLayout>