<footer>
  You can also find me on:
  <ul class="no-style">
    <li>
      <a href="mailto:dprol@uh.edu" rel="me"> Email </a>
    </li>
    <li>
      <a href="https://github.com/dprol" rel="me"> GitHub </a>
    </li>
    <li>
      <a href="https://computingeducationthings.substack.com/" rel="me"> Substack </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/dannyprol/" rel="me">
        LinkedIn
      </a>
    </li>
    <li>
      <a href="http://x.com/dannyprol" rel="me">
        X
      </a>
    </li>
    <li>
      <a href="http://instagram.com/dannyprol" rel="me"> Instagram </a>
    </li>
  </ul>
  <p>
    © 2025 · Daniel Prol ·
    <a href="https://creativecommons.org/licenses/by-sa/4.0/"> cc-by-sa </a>
  </p>
</footer>

<style lang="scss">
  footer {
    justify-self: center;
    width: clamp(15rem, 65vw, 70rem);
    margin-inline: 2rem;
    margin-block-start: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      li {
        margin-inline-end: 1rem;
      }
    }

    p {
      align-self: center;
      text-align: center;
    }
  }
</style>
